<script src="js/tinymce_4.5.1/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
<script src="js/scripts.js"></script>
<script>
var auto_refresh = setInterval(
(function () {
    $("#allComments").load("comment_ajax.php?id=<?php echo $pageID ?>"); //Load the content into the div
}), 5000);
</script>
<section class="fullWidth">
	<article class="articleContent">
		<?php $creatorID = $page->getCreatorId(); ?>
		<?php 
			if($user) {
				$userID = $user->getId(); 
			}
		?>
			<h1><?php echo $page->getTitle(); ?></h1>
			<h6><span><?php echo $page->getAlias() ?>&nbsp;&nbsp;&nbsp;<?php echo $page->getDateAdded(); ?></span></h6>
			<img src='<?php echo $page->getImage();?>' width='100%' />
			<?php echo $page->getContent(); ?> 
			<br />
			<?php 
				if(($user) && (($creatorID == $userID) || ($user->getUserType() == 'admin' ))) {
					echo '<p><a class="commentlink" href="edit_page.php?id=' . $page->getId() . '">EDIT</a></p>';
				}
			?>
	</article>
<?php	
include('comment.php');
$time = (new \DateTime())->format('M d Y | h:i: A');
if($user) { ?>
	<form id="commentForm" action="" method="post" onsubmit="postComment(event);">
			<input type="text" placeholder="Subject" id="title" >
		  <textarea class="textarea" id="comment" name="comment" ></textarea>
			<input type="hidden" id="pageID" value="<?php echo $pageID; ?>">
			<input type="hidden" id="userID" value="<?php echo $user->getId(); ?>">
			<input type="hidden" id="userName" value="<?php echo $user->getUserName(); ?>">
			<input type="hidden" id="time" value="<?php echo $time; ?>">
			<input type="submit">
	</form>
<?php 
}
?>
</section>